.backgroundForSignUp {
    /* background-image: url('/images/signUpBackground.jpg'); */
    /* background-image: url('/images/signUpBackground.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/signUpBackground.jpg') no-repeat center center/cover;
    /* background-color: cadetblue; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    /* background-color: black; */
    /* opacity: 0.2; */
}